## Order the student column by descending final exam for each period. Then join each student from period 2 to those in period 5 based on class rank. Find the average of their final exam score

In [5]:
import pandas as pd

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

# Read the CSV files into DataFrames
df_period2 = pd.read_csv("grades.xlsx - Period 2.csv")
df_period4 = pd.read_csv("grades.xlsx - Period 4.csv")
df_period5 = pd.read_csv("grades.xlsx - Period 5.csv")

# Display the first 5 rows of each DataFrame
print("Period 2 - First 5 rows:")
print(df_period2.head().to_markdown(index=False, numalign="left", stralign="left"))

print("\nPeriod 4 - First 5 rows:")
print(df_period4.head().to_markdown(index=False, numalign="left", stralign="left"))

print("\nPeriod 5 - First 5 rows:")
print(df_period5.head().to_markdown(index=False, numalign="left", stralign="left"))

# Print the column information for each DataFrame
print("\nPeriod 2 - Column Information:")
print(df_period2.info())

print("\nPeriod 4 - Column Information:")
print(df_period4.info())

print("\nPeriod 5 - Column Information:")
print(df_period5.info())

Period 2 - First 5 rows:
| Student   | Homework   | Midterm   | Final Exam   | Rank   |
|:----------|:-----------|:----------|:-------------|:-------|
| F         | 75         | 60        | 96           | 1      |
| N         | 79         | 62        | 91           | 2      |
| B         | 81         | 82        | 88           | 3      |
| S         | 90         | 83        | 82           | 4      |
| P         | 88         | 95        | 80           | 5      |

Period 4 - First 5 rows:
| Student   | Homework   | Midterm   | Final Exam   |
|:----------|:-----------|:----------|:-------------|
| A         | 56         | 84        | 67           |
| B         | 82         | 72        | 74           |
| C         | 64         | 57        | 58           |
| D         | 87         | 73        | 57           |
| E         | 69         | 83        | 94           |

Period 5 - First 5 rows:
| Student   | Homework   | Midterm   | Final Exam   |
|:----------|:-----------|:----------|:-------------|
| A         | 66         | 56        | 68           |
| B         | 62         | 66        | 92           |
| C         | 65         | 61        | 60           |
| D         | 83         | 78        | 82           |
| E         | 76         | 72        | 58           |

Period 2 - Column Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student     23 non-null     object
 1   Homework    23 non-null     int64
 2   Midterm     23 non-null     int64
 3   Final Exam  23 non-null     int64
 4   Rank        23 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.0+ KB
None

Period 4 - Column Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student     23 non-null     object
 1   Homework    23 non-null     int64
 2   Midterm     23 non-null     int64
 3   Final Exam  23 non-null     int64
dtypes: int64(3), object(1)
memory usage: 868.0+ bytes
None

Period 5 - Column Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student     23 non-null     object
 1   Homework    23 non-null     int64
 2   Midterm     23 non-null     int64
 3   Final Exam  23 non-null     int64
dtypes: int64(3), object(1)
memory usage: 868.0+ bytes
None

In [6]:
# Sort by 'Final Exam' and assign rank
for df in [df_period2, df_period4, df_period5]:
    df.sort_values(by="Final Exam", ascending=False, inplace=True)
    df["Rank"] = range(1, len(df) + 1)

# Merge df_period2 and df_period5 on 'Rank'
merged_df = pd.merge(df_period2, df_period5, on="Rank", suffixes=("_2", "_5"))

# Calculate mean of 'Final Exam' scores
merged_df["Average Final Exam"] = merged_df[["Final Exam_2", "Final Exam_5"]].mean(
    axis=1
)

# Display results (first 3 rows or all if less than 10 rows)
if len(merged_df) > 10:
    print(merged_df.head(3).to_markdown(index=False, numalign="left", stralign="left"))
else:
    print(merged_df.to_markdown(index=False, numalign="left", stralign="left"))

| Student_2   | Homework_2   | Midterm_2   | Final Exam_2   | Rank   | Student_5   | Homework_5   | Midterm_5   | Final Exam_5   | Average Final Exam   |
|:------------|:-------------|:------------|:---------------|:-------|:------------|:-------------|:------------|:---------------|:---------------------|
| F           | 75           | 60          | 96             | 1      | U           | 57           | 95          | 97             | 96.5                 |
| N           | 79           | 62          | 91             | 2      | S           | 90           | 65          | 94             | 92.5                 |
| B           | 81           | 82          | 88             | 3      | W           | 66           | 86          | 92             | 90                   |

## using the new joined table, concatate the midterm and final exam columns into a new column called \test scores

In [7]:
# Concatenate midterm and final exam scores for each period
merged_df["Test Scores_2"] = (
    merged_df["Midterm_2"].astype(str) + "-" + merged_df["Final Exam_2"].astype(str)
)
merged_df["Test Scores_5"] = (
    merged_df["Midterm_5"].astype(str) + "-" + merged_df["Final Exam_5"].astype(str)
)

# Display results (first 3 rows or all if less than 10 rows)
if len(merged_df) > 10:
    print(merged_df.head(3).to_markdown(index=False))
else:
    print(merged_df.to_markdown(index=False))

| Student_2   |   Homework_2 |   Midterm_2 |   Final Exam_2 |   Rank | Student_5   |   Homework_5 |   Midterm_5 |   Final Exam_5 |   Average Final Exam | Test Scores_2   | Test Scores_5   |
|:------------|-------------:|------------:|---------------:|-------:|:------------|-------------:|------------:|---------------:|---------------------:|:----------------|:----------------|
| F           |           75 |          60 |             96 |      1 | U           |           57 |          95 |             97 |                 96.5 | 60-96           | 95-97           |
| N           |           79 |          62 |             91 |      2 | S           |           90 |          65 |             94 |                 92.5 | 62-91           | 65-94           |
| B           |           81 |          82 |             88 |      3 | W           |           66 |          86 |             92 |                 90   | 82-88           | 86-92           |