Split the "Timestamp" column into new 'Day' 'Month' 'Year' and 'Time' columns from 'QDP Reviews.csv'.

**Coder Instructions:**

*   Use pandas to read the CSV file "QDP Reviews.xlsx - responses.csv" into a dataframe.
*   Show the first 5 rows using `df.head()`.&#x20;
*   Also, print the column names and their data types using `df.info()`.

In [ ]:
**Code:**

```
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Read the CSV file into a DataFrame
df = pd.read_csv('QDP Reviews.xlsx - responses.csv')

# Display the first 5 rows
print(df.head().to_markdown(index=False, numalign='left', stralign="left"))

# Print the column names and their data types
print(df.info())
```

             Timestamp Sex      Name  Number of Reviews  Review  Food   Service   Atmosphere                                                                                                                                  Review.1  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15
0  2020-03-05 18:14:32   F  Person 1                5.0     5.0    NaN       NaN         NaN                                                                                                                                       NaN         NaN          NaN          NaN          NaN          NaN          NaN          NaN
1  2020-03-21 14:20:00   M  Person 2                1.0     5.0    NaN       NaN         NaN                                                                                                                                       NaN         NaN          NaN          NaN          NaN          NaN          NaN          NaN
2  2020-04-02 15:05:42   F  Person 3                1.0     1.0    NaN       NaN         NaN                                                                                                                                       NaN         NaN          NaN          NaN          NaN          NaN          NaN          NaN
3  2020-04-10 17:58:04   M  Person 4               86.0     3.0    NaN       NaN         NaN                                                                                                                                       NaN         NaN          NaN          NaN          NaN          NaN          NaN          NaN
4  2020-04-11 13:50:23   F  Person 5               13.0     3.0    4.0       5.0         2.0  Although they have tables for consumption in the premises two parking drawers are occupied by their motorcycles. Attention is excellent!         NaN          NaN          NaN          NaN          NaN          NaN          NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype  
---  ------             --------------  -----  
 0   Timestamp          106 non-null    object 
 1   Sex                106 non-null    object 
 2   Name               106 non-null    object 
 3   Number of Reviews  106 non-null    float64
 4   Review             106 non-null    float64
 5   Food               58 non-null     float64
 6   Service            58 non-null     float64
 7   Atmosphere         58 non-null     float64
 8   Review.1           66 non-null     object 
 9   Unnamed: 9         0 non-null      float64
 10  Unnamed: 10        0 non-null      float64
 11  Unnamed: 11        0 non-null      float64
 12  Unnamed: 12        0 non-null      float64
 13  Unnamed: 13        0 non-null      float64
 14  Unnamed: 14        0 non-null      float64
 15  Unnamed: 15        0 non-null      float64
dtypes: float64(12), object(4)
memory usage: 13.4+ KB
None

**Output:**

The `Timestamp` column values have the format 'YYYY-MM-DD HH:MM:SS' as seen in the `head()` but the column type is object as seen in `info()`. Hence further conversion is required.

**Coder Instructions:**

First clean and convert the non-date formatted column to correct type for splitting:
1. Because `Timestamp` is not in datetime format (as seen in the previous `df.info()` output), convert Timestamp to datetime using `to_datetime`.

Then split the column:
1. Split the `Timestamp` column into `Year`, `Month`, `Day`, and `Time` columns.
2. Print all rows of the DataFrame if the row count is 10 or fewer; otherwise, print only the first three rows.

In [ ]:
# Convert column to datetime
df["Timestamp"] = pd.to_datetime(df["Timestamp"])

# Split `Timestamp` column to year, months, day, and time
df["Year"] = df["Timestamp"].dt.year
df["Month"] = df["Timestamp"].dt.month
df["Day"] = df["Timestamp"].dt.day
df["Time"] = df["Timestamp"].dt.time

# Display all rows if there are 10 or fewer rows
if len(df) <= 10:
    print(df)
else:
    # Display only the first 3 rows
    print(df.head(3))

            Timestamp Sex      Name  Number of Reviews  Review  Food   Service   Atmosphere Review.1  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Year  Month  Day      Time
0 2020-03-05 18:14:32   F  Person 1                5.0     5.0    NaN       NaN         NaN      NaN         NaN          NaN          NaN          NaN          NaN          NaN          NaN  2020      3    5  18:14:32
1 2020-03-21 14:20:00   M  Person 2                1.0     5.0    NaN       NaN         NaN      NaN         NaN          NaN          NaN          NaN          NaN          NaN          NaN  2020      3   21  14:20:00
2 2020-04-02 15:05:42   F  Person 3                1.0     1.0    NaN       NaN         NaN      NaN         NaN          NaN          NaN          NaN          NaN          NaN          NaN  2020      4    2  15:05:42

**Output:**

The 'Timestamp' column is split into 'Day' 'Month' 'Year' and 'Time' columns. Here are the first 3 rows:

| Timestamp           | Sex | Name     | Number of Reviews | Review | Food | Service | Atmosphere | Review\.1 | Unnamed: 9 | Unnamed: 10 | Unnamed: 11 | Unnamed: 12 | Unnamed: 13 | Unnamed: 14 | Unnamed: 15 | Year | Month | Day | Time     |
| :------------------ | :-- | :------- | :---------------- | :----- | :--- | :------ | :--------- | :-------- | :--------- | :---------- | :---------- | :---------- | :---------- | :---------- | :---------- | :--- | :---- | :-- | :------- |
| 2020-03-05 18:14:32 | F   | Person 1 | 5                 | 5      | nan  | nan     | nan        | nan       | nan        | nan         | nan         | nan         | nan         | nan         | nan         | 2020 | 3     | 5   | 18:14:32 |
| 2020-03-21 14:20:00 | M   | Person 2 | 1                 | 5      | nan  | nan     | nan        | nan       | nan        | nan         | nan         | nan         | nan         | nan         | nan         | 2020 | 3     | 21  | 14:20:00 |
| 2020-04-02 15:05:42 | F   | Person 3 | 1                 | 1      | nan  | nan     | nan        | nan       | nan        | nan         | nan         | nan         | nan         | nan         | nan         | 2020 | 4     | 2   | 15:05:42 |

The table is a truncated view for the filtered DataFrame. Please let me know if youâ€™d like me to display the entire DataFrame.


### This is the final selection.

### End the task session after selecting this response. Click the **Submit** button to end.